* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.top-header {

}

ul {
  
  margin: 0;
  list-style: none;
}

i {
  margin-left: 0.5rem;
  color: white;
}

.top-links {
  width: 100%;
  padding: 8px;
  padding-right: 10px;
  background-color:#4b01d1;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  background-color: #6202ee;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-header {
  color: white;
  display: flex;
  margin-left: auto;
  line-height: .5rem;

}

.bottom-header-links {
  padding: 20px 25px 25px 65px;
  font-size: x-large;
}

.bottom-header-links a {
  padding-left: 30px;
}


button {
  color: white;
  width: 4rem;
  font-size: x-large;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

h2 {
  text-align: center;
  margin-left: 1rem;
}